    <footer class="container footer-container">
        <div class="footer">
          <article class="footer-item">
            <h1>About Us</h1>
            <p>
                CIMA-TQ, LLC is committed to solve internal corrosion problems through its unique methodology that encompasses education, training and many year of experience and that it has been used in industries and oil fields around the world.
            </p>
          </article>
          <article class="footer-item">
            <h1>Our Location</h1>
            <ul>
              <li><i class="fas fa-fw fa-map-marker-alt"></i> Peraland. Tx - United States</li>
              <li><i class="fas fa-fw fa-phone"></i> (0800)555-555-555</li>
              <li><i class="fas fa-fw fa-clock"></i> Mon - Fri  9:00 am - 6:00 pm</li>
            </ul>
          </article>
          <article class="footer-item">
            <h1>Contact Us</h1>
            <div>
              <form action="" method="post" class="footer-form">
                <div class="field">
                    <input name="name" type"text" required placeholder="NAME">
                </div>
                
                <div class="field">
                    <input name="email" type"email" required placeholder="EMAIL">
                </div>
                
                <div class="field">
                    <textarea name="message" placeholder="MESSAGE" required></textarea>
                </div>
                
                <div class="field button-wrapper"><button>Contact</button></div>
                
              </form>
            </div>
          </article>
          <article class="footer-item">
            <h1>&nbsp;</h1>
            <p>
              <img src="assets/images/cimatq-footer-logo.png" class="no-scale">
            </p>
          </article>
        </div>
      </footer>
  
  
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        AOS.init();
    </script>
  
    <script>
    
    $(document).ready(function(){
  
  /*
      $(".services-slider .frame").not(":first-child").hide();
      $(".services-slider .controls a:first-child").addClass("current");
  
      $(".services-slider .controls a").click(function(e){
        e.preventDefault();
        $(".services-slider  .controls a.current").removeClass("current");
        $(this).addClass("current"); 
        var d = $(".services-slider .frame").eq($(this).index());
        $(".services-slider .frame").not(d).fadeOut(300, function(){
          d.fadeIn(300);
        });
        
        
      });
      */
  
      $('.frames').slick({
        arrows : false,
        dots : true,
        appendDots : ".services-slider .controls"
      });
  
    });
    </script>
  
    
  
  </body>
  
  </html>
  