<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">

  <link rel="stylesheet" href="assets/css/normalize-custom.css">
  <link rel="stylesheet" href="assets/css/common.css">

  <%
  for(var index in styles) {
    %>
    <link rel="stylesheet" href="assets/css/<%= styles[index] %>">

    <%
  }

  %>

</head>

<body>
    <div class="container header-container">
        <header class="header">
          <div class="logo">
            <a href="#"><img src="assets/images/header-logo.png"  alt="CIMA-TQ Logo"></a>
          </div>
          <nav role="navigation">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <a href="#" class="nav-drawer-trigger"><i class="fas fa-bars"></i></a>
          </nav>
        </header>
      </div>