  
  <%


  var title = "About Us - CIMA-TQ";

  var headerData = {
    title: title,
    styles : ["about.css"]
  };
  %>
  <%- include('_header.ejs', headerData); %>

  

  <div class="container page-header-container">
      <h1>About Us</h1>
  </div>

  <div class="container white-container">
    <div class="row">
      <div class="col">
        <h1>CIMA-TQ</h1>
        <span class="c-rect"></span>
        <p>
            Internal Corrosion is a misinterpreted often overlooked corrosion phenomenon that causes and have caused lots of failures in pipelines, piping and other equipment in many industries. 
        </p>
        <p>
            Assessing and controlling internal corrosion requires expertise with special knowledge that can only be acquired by extensive education, training and years of direct field experience. 
        </p>
        <p>
            CIMA-TQ, LLC is committed to solve internal corrosion problems through its unique methodology that encompasses education, training and many year of experience and that it has been used in industries and oil fields around the world.
        </p>
        <p>
            Our mission is to solve internal corrosion and chemical treatment problems in engineered systems. 
        </p>
      </div>
      <div class="col">
        <img src="assets/images/about-cimatq-logo.png">
      </div>
    </div>
  </div>

  <div class="container silver-container">
      <div class="row">
        <div class="col">
          <img src="assets/images/about-services.png">
         
        </div>
        <div class="col">
          

          <h1>Services</h1>
          <span class="c-rect"></span>
          <p>
            <ol>
              <li>Internal Corrosion Direct Assessment (ICDA)</li>
              <li>Chemical Treatment Assessment and Optimization</li>
              <li>Material Selection/Development of Metallurgical Diagrams</li>
              <li>Flow Modelling</li>
              <li>Corrosion Modelling</li>
              <li>Flow Assurance</li>
              <li>Overall Upstream Equipment (well and surface) Mechanical  	      Integrity Evaluations</li>
              <li>Corrosion and Integrity Management</li>
              <li>Corrosion Assessment/Risk Analysis/Fitness-for-Service</li>
              <li>Training</li>
            </ol>
              
          </p>
        </div>
      </div>
    </div>

    <div class="container white-container">
        <div class="row">
          <div class="col">
            <h1>WE WORK FOR</h1>
            <span class="c-rect"></span>
            <p>
                <ul type="square">
                  <li>Engineering companies that are developing projects in corrosive environments. During the design and engineering phase represents the greatest opportunity to control internal corrosion issues.</li>
                  <li>Industry facing internal corrosion issues</li>
                  <li>Upstream Oil and Gas Industry</li>
                  <li>Oil and Gas Pipeline Operators</li>
                  <li>Non Oil/Gas related industry having internal corrosion issues.</li>
                </ul>
            </p>
          </div>
          <div class="col">
            <img src="assets/images/about-work-for.png">
          </div>
        </div>
      </div>

      <div class="container silver-container">
          <div class="row">
            <div class="col">
              <img src="assets/images/about-carlos.png">
             
            </div>
            <div class="col">
              
    
              <h1>CARLOS ALBERTO PALACIOS TENREIRO</h1>
              <span class="c-rect"></span>
              <p>
              Holds a B.Sc, an M.Sc, and a PhD in Mechanical Engineering from the University of Tulsa where Post-Doctoral work was also performed in the area of Erosion/Corrosion. 
</p><p>
NACE International certified Chemical Treatment Specialist and Internal Corrosion Specialist. The author of numerous technical publications and a book on the subject of internal corrosion. His 37 years of experience in the oil and gas industry world wide have resulted in his becoming a subject matter expert on internal corrosion, erosion, chemical treatment, material selection, water treatment, oil treatment, and corrosion monitoring. 
</p><p>
Owner of a patent for a downhole chemical injection enhancer device (US Patent # 7,942,200). Has performed work in oil/gas fields in Colombia, Bolivia, Peru, Mexico, Argentina, Venezuela, India, Kuwait, Algeria, the United States and many other countries. 
</p><p>
For the period 2011-2015 worked as a Subject Matter Expert for an Independent Monitoring Contractor under the US Department of Justice; the objective: to assess compliance to the Consent Decree Civil No. 3:09-cv-00064-JWS. 
</p><p>
Currently also works as Subject Matter Expert consultant for Gas India Limited (GAIL), performing numerous courses, technical seminars and technical support. An active NACE International instructor and Petroskills instructor being the course technical lead. 
</p><p>
Has extensive experience in technical consultation around the world, leading seminars, teaching industry courses, and serving as a professor for both undergraduate and graduate courses at the University of Tulsa, Oklahoma and various universities in South America. 
</p><p>
He was International Director for the NACE Foundation from 2005 to 2013. Actively participates in many NACE technical committees developing and reviewing Standard Practices. Member of NACE Publications Committee. 
</p><p>
Currently the vice-chair of NACE Wet Gas and Chair of NACE Multiphase ICDA standard practices. Member in NACE for 33 years and recipient of the 2013 NACE Distinguished Service Award.
              </p>
            </div>
          </div>
        </div>



    <%- include('_footer.ejs'); %>

    