  
  <%


  var title = "Contact Us - CIMA-TQ";

  var headerData = {
    title: title,
    styles : ["contact.css"]
  };
  %>
  <%- include('_header.ejs', headerData); %>

  

  <div class="container page-header-container">
      <h1>Contact Us</h1>
  </div>

    <%- include('_footer.ejs'); %>

    