  <%


    var title = "Home - CIMA-TQ";

    var data = {
      title: title,
      styles : ["index.css"]
    };
  %>
  <%- include('_header.ejs', data); %>

  <div class="container hero-container">
    <article class="hero">
      <div class="hero-logo">
        <img src="assets/images/hero-logo.png" alt="CIMA-TQ Logo">
      </div>
      <div class="hero-text">
        <div>
          CORROSION AND INTEGRITY MANAGEMENT OF ASSETS
        </div>
        <span>Treatment Quality</span>
      </div>

    </article>
  </div>

  <div class="container services-container">
    <div class="services">

      <div class="services_bx">
        <article data-aos="fade-up">
          <img src="assets/images/oil-pump.png">
          <img src="assets/images/oil-pump-hover.png" class="hover">

          <h3>Internal Corrosion</h3>
          <p>
            Excellent and experienced team
          </p>
          <a href="/services">More Services</a>
        </article>

        <article data-aos="fade-up">
            <img src="assets/images/molecule.png">
            <img src="assets/images/molecule-hover.png" class="hover">

            <h3>Chemical Treatment</h3>
            <p>
              In the oilfield for flow assurance optimization
            </p>
            <a href="/services">More Services</a>
          </article>

          <article data-aos="fade-up">
              <img src="assets/images/valve.png">
              <img src="assets/images/valve-hover.png" class="hover">
              <h3>SIMULATIONS AND
                  FLOW ASSURANCE 
                  OPTIMIZATION</h3>
              <p>
                Excellent and experienced team
              </p>
              <a href="/services">More Services</a>
            </article>
      </div>

      <div class="services-desc text-center">
        <h2>This is what we do</h2>
        <span class="c-rect"></span>
        <p>
            Our mission is to solve internal corrosion and chemical treatment 
            problems in engineered systems. 
            
        </p>
      </div>
    </div>

    
  </div>


  <div class="container presence-container">
      <div class="presence">

        <div class="services-slider">
          <div class="frames">
            <div class="frame">
              <div class="cover">
                <img src="assets/images/slider-1.png" class="no-scale">
              </div>
              <div class="desc">
                <h2>We provide professional services</h2>
                <span class="c-rect"></span>
                <p>
                    CIMA-TQ, LLC is committed to solve internal corrosion problems through its unique methodology that encompasses education, training and many year of experience and that it has been used in industries and oil fields around the world.
                </p>
              </div>
            </div>

            <div class="frame">
              <div class="cover">
                <img src="assets/images/slider-2.png" class="no-scale">
              </div>
              <div class="desc">
                <h2>We provide professional services</h2>
                <span class="c-rect"></span>
                <p>
                    CIMA-TQ, LLC is committed to solve internal corrosion problems through its unique methodology that encompasses education, training and many year of experience and that it has been used in industries and oil fields around the world.
                </p>
              </div>
            </div>

          </div>
          <div class="controls"></div>

        </div>
        <div class="countries">
          <div>
            <span>57</span>
            Projects
          </div>

          <div>
            <span>20</span>
            Latin America
          </div>

          <div>
            <span>32</span>
            USA
          </div>

          <div>
            <span>5</span>
            Saudi Arabia
          </div>

          
        </div>
      </div>

  </div>

  <div class="container experience-container">
      <div class="experience">
        <div class="exp-rect">
          <img src="assets/images/exp-1.png">
          <img src="assets/images/exp-2.png">
          <img src="assets/images/exp-3.png">
          <img src="assets/images/exp-4.png">
          <img src="assets/images/exp-5.png">
        </div>

        <div class="clients text-center">
          <h2>Experience</h2>
          <span class="c-rect"></span>

          <ul class="client-list">
            <li>
              <img src="assets/images/client-1.png">
              <h3>Department of Justice</h3>
              <p>
                  Internal Corrosion, Corrosion/
                  Integrity Management, Corrosion Assessments/
                  Risk & Anylysts/ Fitness for-services 
              </p>
              <p>
                <strong>&mdash; United States</strong>
              </p>
            </li>
            <li>
              <img src="assets/images/client-1.png">
              <h3>Department of Justice</h3>
              <p>
                  Internal Corrosion, Corrosion/
                  Integrity Management, Corrosion Assessments/
                  Risk & Anylysts/ Fitness for-services 
              </p>
              <p>
                <strong>&mdash; United States</strong>
              </p>
            </li>
            <li>
              <img src="assets/images/client-1.png">
              <h3>Department of Justice</h3>
              <p>
                  Internal Corrosion, Corrosion/
                  Integrity Management, Corrosion Assessments/
                  Risk & Anylysts/ Fitness for-services 
              </p>
              <p>
                <strong>&mdash; United States</strong>
              </p>
            </li>
            <li>
              <img src="assets/images/client-1.png">
              <h3>Department of Justice</h3>
              <p>
                  Internal Corrosion, Corrosion/
                  Integrity Management, Corrosion Assessments/
                  Risk & Anylysts/ Fitness for-services 
              </p>
              <p>
                <strong>&mdash; United States</strong>
              </p>
            </li>
            <li>
              <img src="assets/images/client-1.png">
              <h3>Department of Justice</h3>
              <p>
                  Internal Corrosion, Corrosion/
                  Integrity Management, Corrosion Assessments/
                  Risk & Anylysts/ Fitness for-services 
              </p>
              <p>
                <strong>&mdash; United States</strong>
              </p>
            </li>
          </ul>

          <p>
              <a href="#" class="button">See All</a>
          </p>
        </div>
      </div>

    </div>

    <div class="container book-container">
      <div class="book">

        <div class="book-img">
          <img src="assets/images/book.png">
        </div>
        <div class="book-detail">
          <a href="#" class="button">Book</a>
          <article>
            
            <h1 class="orange">Corrosion and Asset Integrity Management</h1>
            <h1>For upstream installations in the Oil/Gas Industry</h1>
            <p class="author">
              by Carlos Alberto Palacios Tenreiro, B. SC, M. Sc, Ph.D, P.D
            </p>
          </article>
          <a href="#" class="button buy-now">Buy Now</a>
        </div>
      </div>

    </div>

    <div class="container contact-container">
      <div class="contact">
        <a href="contact" class="button send-msg">Send Message</a>
        <h1>Contact Us</h1>
        <h2>for more information about our services</h2>
        
      </div>
    </div>

    <%- include('_footer.ejs'); %>

    