.white-container {
    background:#fff;  
}

.silver-container {
    background:#ecebeb;  
}

.row {
    padding:4rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    width:49%;
}

.col > h1 {
    margin:0;
    color:#696969;
    text-transform: uppercase;
}
.col > img {
    width:100%;
}

ul,ol {
    padding: 0;
    padding-left:1rem;
}

li {
    margin:0.7em 0;
}