
body {
    font-family:'Raleway', sans-serif;
    font-size:16px;
}

body > .container > * {
    width:1000px;
    margin:0 auto;
}

img:not(.no-scale) {
    transform: scale(0.8);
    transform-origin: center top;
}

.header-container {
    background:#111820;
}
header {
    display:flex;
    height:93px; /*116px;*/
}

header{
    display:flex;
    align-items: center;
}
header .logo {
    width:33%;
}


header nav {
    width:67%;
    display:flex;
    justify-content: flex-end;
}
header nav a.nav-drawer-trigger {
    display:none;
    font-size:1.6rem;
}

header nav ul  {
    display:flex;
    justify-content: flex-end;
    margin:0;
}
header nav ul li {
    list-style: none;
    margin:0 1em;
    padding: 0;
}

header nav  a { 
    text-decoration: none;
    color:#fff; }
header nav a:hover, header nav a.current { color:#f36a0f; }


.page-header-container {
    background:#0f1218 url("../images/page-header-bg.png") no-repeat fixed center center;
    display: flex;
    align-items: center;
    height:300px
    
}

.page-header-container h1 {
    text-align: center;
    font-size:32px;
    font-weight: bold;
    color:#fff;
    text-transform: uppercase;
    letter-spacing:0.2em;
}

.footer-container {
    background:#131b25;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    padding:4rem 0;
    color:rgba(255,255,255,0.8);
    font-size:14px;
}
.footer-item {
    flex:1;
    margin-right:1rem;
    
}

.footer-item:last-child {
    max-width:160px;
}

.footer h1 {
    text-transform: uppercase;
    color:#f36a0f;
    font-size:24px;
    margin-bottom:2rem;
}

.footer ul {
    padding:0;
    list-style-type: none;
}
.footer li {

    margin: 1rem 0;
}
.footer li i {
    display: inline-block;
    margin-right:0.67em;
    color:#f36a0f;
}

.footer-form .field {
    display: flex;
    margin-bottom: 1em;
    justify-content: flex-end;
}

.footer-form input, .footer-form textarea  {
    width:100%;
    box-sizing: border-box;
    padding: 0.7em;
    color:#fff;
    background: transparent;
    border: 2px solid #f36a0f;
}

.footer-form textarea {
    height:8em;
}

.footer-form button{
    display:inline-block;
}

button {
    background: #f36a0f;
    color:#fff;
    border:none;
    padding: 0.4em 1em;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover {
    background: #b3500e;
}
button:active {
    background: #833907;
    position: relative;
    top:1px;
}
.c-rect {
    width:3rem;
    background:#ef7422;
    height:6px;
    display: inline-block;
}

a.button {
    text-transform: uppercase;
    background-color:#f36a0f;
    color:#fff;
    text-decoration: none;
    padding:0.4rem 1.2rem;
    font-size:0.9rem;
    font-weight:bold;
}

.orange {
    color:#f36a0f;
}

@media only screen and (max-width: 768px) {
    div.container > * {
        width:100%;
    }

    header nav {
        margin-right:1.6rem;
    }
    header nav ul {
        display:none;
    }

    header nav a.nav-drawer-trigger {
        display: inline-block;
    }

}














