

.hero-container {
    background:#111820 url("../images/hero-bg.png") no-repeat center center;
}

.hero {
    height:787px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#fff;
    
}

.hero > * {
    margin-top:-117px;
}

.hero .hero-logo {

}
.hero .hero-text  {text-align: center}
.hero .hero-text div {
    font-size:38px;
    font-weight: bold;
    letter-spacing: 5px;
}
.hero .hero-text span {
    font-size:28px;
    background:#ef7422;
    padding:0.2em 0.5em;
    font-weight: normal;
    text-transform: uppercase;
}

.services-container {
    background:#eceaeb url("../images/services-bg.png") no-repeat scroll left top;
    height:400px;

}

.services_bx {

    display: flex;
    justify-content: space-between;
}
.services_bx > article {
    box-sizing: border-box;
    margin-top: -117px;
    width: 31%;
    background: #fff;
    padding: 2em;
    text-align: center;
    color: #9b9b9b;
    box-shadow: rgba(0,0,0,0.3) 0px 1px 5px;
}

.services_bx > article a, .services_bx > article img.hover {
    display:none;
}

.services_bx > article p {
    font-size:24px;
}
.services_bx > article h3 {
    color:#060606;
    font-size:32px;
    font-weight:bold;
    text-transform: uppercase;
}

.services_bx article:hover {
    background-color:#f7941d;
}
.services_bx article:hover img.hover {
    display: inline-block;
}
.services_bx article:hover p, .services_bx article:hover img:not(.hover) {
    display:none;
}
.services_bx article:hover a {
    display:inline-block;
    text-transform: uppercase;
    color:#fff;
    padding:0.2em 0.5em;
    border:1px solid #fff;
    font-size:24px;
    text-decoration: none;
}
