/*navigation*/
.navigation {
    min-height: 50px;
    background: grey;
}
.navigation-container{
 width: 70%
}

.header {
    min-height: 200px;
    background: whitesmoke; 
}
.image
{ 
    width: -webkit-fill-available;
    height: 400px;
    object-fit: cover;
}
a:active {
    color:rgb( 244, 101, 6 );
}
a:visited {
    color:rgb( 244, 101, 6 );
}
/*content*/
.content {
    min-height: 250px;
    height: 300px;
}
fh{
    font-family: "Raleway";
    left: 1049.742px;
    top: 500px;
    z-index: 52;
}
u
{
    color:rgb( 250, 139, 9 );
}
input[type=text] {
border-width: 2.51px;
border-color: rgb( 244, 101, 6 );
border-style: solid;
}
/*footer*/
.footer {
    padding: 10px;
    position: relative;
    color: #ccc2a0;
    background-color:rgb( 19, 27, 37 );
    clear:both;
    padding-top:20px;
    top:500px;
  }
  input[type=text] {
    border: 1px ;
    border:solid; 
    color:rgb( 244, 101, 6 );
    left: 865px;
    top: 355px;
    width: 797.98px;
    height: 57.98px;
    z-index: 38;
}